<div class="ui eight column doubling centered grid thumbnails">
      {{Pokedex.forEach( pokemon => }}
         <div class="aligned ">
            <div class="card">
               <div class="image">
                  <img src="{{ pokemon.image }}" />
               </div>
               <div class="description">
                  <strong>#</strong><span> {{ pokemon.id }} </span>
                  <div class="pokemon-name">{{ pokemon.name }}</div>
               </div>
            </div>
         </div>
   
   </div>
</div>
