<section class="jumbotron">
    <main class="container">
        <aside class="fs-5 p-3 opacity-50">
            <h4 class="fs-3 text-center"><img src="https://i.imgur.com/cLYflmN.png" border="0" alt="About SkittyDex">
            </h4>
            <p class="p-2">
                SkittyDex is a an app for trainers looking to build their ideal team,
                whether it be for battling, contest, aesthetics, or even just pokemon they love.
                The goal is for trainers to communicate with others in the community through
                finding other trainers to battle and trade in game with.
                To start building your team or communicating with other trainers, sign up for an account
                and head over the dashboard! <br>
                <img src="https://generator.flowcode.com/v1/flowcode?opts=%7B%22data%22%3A%22https%3A%2F%2Fflowcode.com%2Fp%2Fug1NMpq8w%22%2C%22qrrotate%22%3Afalse%2C%22logoWidth%22%3A30%2C%22logoHeight%22%3A22.083333333333332%2C%22radiusMask%22%3A89%2C%22transparent%22%3Afalse%2C%22defaultColor%22%3A%22%23000000%22%2C%22logoImageUrl%22%3A%22https%3A%2F%2Fcdn.flowcode.com%2Fprodassets%2Flogo_vANEzhL%3Fts%3D1645133330898665746%22%2C%22containerText%22%3A%5B%7B%22font%22%3A%22inter_medium%22%2C%22text%22%3A%22PRIVACY.FLOWCODE.COM%22%2C%22fontSize%22%3A9%2C%22position%22%3A%7B%22property%22%3A7%2C%22offsetPercentage%22%3A3.1%7D%2C%22fontColor%22%3A%22%23000000%22%7D%5D%2C%22containerShape%22%3A1%2C%22gridModuleColor%22%3A%22%230000000%22%2C%22gridModuleShape%22%3Anull%2C%22gridModuleImageUrl%22%3A%22https%3A%2F%2Fcdn.flowcode.com%2Fprodassets%2FAsset_2_T0NJ0Is.svg%3Fts%3D1624978647643562449%22%2C%22containerBorderSize%22%3A8.5%2C%22containerBorderColor%22%3A%22%23000000%22%2C%22errorCorrectionLevel%22%3A2%2C%22alwaysUseDefaultColor%22%3Atrue%2C%22gridModuleRandomSizes%22%3A%2280%22%2C%22dataGridPercentageSize%22%3A70%2C%22gridModuleColorFillSvg%22%3Atrue%2C%22positionElementTopLeft%22%3A%7B%7D%2C%22containerEmptySpaceSize%22%3A6%2C%22positionElementTopRight%22%3A%7B%7D%2C%22containerImageUrlOpacity%22%3A1%2C%22positionElementBottomLeft%22%3A%7B%7D%2C%22containerOuterPatternColor%22%3A%22%23000000%22%2C%22containerImageBackgroundOnly%22%3Afalse%2C%22containerImageOverlayPrivacy%22%3Atrue%2C%22containerOuterPatternImageUrl%22%3A%22https%3A%2F%2Fcdn.flowcode.com%2Fprodassets%2FAsset_2_T0NJ0Is.svg%3Fts%3D1624978657305531856%22%2C%22containerBackgroundInsetExtend%22%3A0%2C%22containerOuterPatternRandomSizes%22%3A%2280%22%2C%22containerOuterPatternColorFillSvg%22%3Atrue%7D&density=300&imageType=png"
                    id="qrcode" alt="qrcode">
            </p>
        </aside>
</section>
<div class="container">
    <div class="post">
        <ul class="post-list">
            {{#each posts as |post|}}
            <li>
                {{> post-info post }}
            </li>
            {{/each}}
        </ul>
    </div>
</div>
</main>