<form class="login-form">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Email  <i class="fas fa-at"></i></span>
    </div>
    <input type="text" id="email-login" class="form-control" placeholder="Email" aria-label="email-login" aria-describedby="basic-addon1">
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-lock"></i>Password</span>
    </div>
    <input type="password" id="password-login" class="form-control" placeholder="Password" aria-label="password-login" aria-describedby="basic-addon1">
  </div>

  <br>

  <button type="submit" id="login-btn" class ="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button>

  <a href="/signup">Sign up</a>
</form>

<hr><br>



<script src="/js/login.js"></script>