<form class="signup-form">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i> Username</span>
    </div>
    <input type="text" id="username-signup" class="form-control" placeholder="Username" aria-label="Username"
      aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"> <i class="fas fa-at"></i> Email</span>
    </div>
    <input type="text" id="email-signup" class="form-control" placeholder="john2054@email.com" aria-label="Username"
      aria-describedby="basic-addon1">
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-lock"></i> Password</span>
    </div>
    <input type="text" id="password-signup" class="form-control" placeholder="Password must be at least 8 characters"
      aria-label="Password" aria-describedby="basic-addon1">
  </div>

  <br>

  <button type="submit" id="signup-btn" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Sign Up</button>

  <a id="login" href="/login"> Already have an account? Login</a>
</form>

<hr><br>

<script src="/js/login.js"></script>