* {
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
}

/* navbar style */
.navbar-brand {
  font-size: 3em;
}
.navbar-brand a {
  color: black;
  margin-left: 2rem;
  text-decoration: none;
  cursor: pointer;
}

#logo:hover {
  color: #feada6;
}

.nav-item a {
    color: #ee9ca7;
}

.nav-item a:hover {
  color: #abbaab;
}

/* login style */
.input-group {
  margin: 2em;
  max-width: 50rem;
}

/* post/comment style */
.post-list {
  list-style: none;
  margin: 2em;
  border-radius: 10px;
}

.card {
  margin: 2em;
  border-radius: 10px;
  background-color: #abbaab;
  opacity: 75%;
  border-color: #feada6;
}

.card-header {
  font-size: 1.3em;
}

.card-header a {
  text-decoration: none;
  cursor: pointer;
}

.card-header a:hover {
  color: #feada6;
}

/* button style */
button {
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 1em;
}

#login-btn,
#post,
#signup-btn {
  margin-left: 2em;
}

.button {
  background-image: linear-gradient(
    to right,
    #ee9ca7 0%,
    #ffdde1 51%,
    #ee9ca7 100%
  );
}

.button {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 5px;
  display: block;
  border: none;
}

.button:hover {
  background-position: right center;
  color: #abbaab;
  text-decoration: none;
}
