* {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  background-color: #ffffff;
}

.dark-mode {
  background-color: black;
}

/* navbar/header style */
header {
  background-color: #ffdde1;
}

.navbar-brand {
  font-size: 3em;
}

.navbar-brand a {
  color: #e76c89;
  margin-left: 2rem;
  text-decoration: none;
  cursor: pointer;
}

.navbar-brand a:hover {
  color: #a66e8a;
}

#logo {
  width: 9%;
  height: 9%;
}

.nav-item a {
  color: #e76c89;
  font-weight: 600;
  position: relative;
  background-color: #ffffff;
  margin: 1em;
  border-radius: 10px;
  opacity: 75%;
}

.nav-item a:hover {
  color: #a66e8a;
}

/* footer styles */
footer a {
  color: #e76c89;
  margin: 1em;
  font-weight: 600;
}

footer a:hover {
  color: #a66e8a;
}

/* body styles */
aside {
  background-color: #a66e8a;
  border-radius: 10px;
  color: #000000;
  margin-top: 2em;
  margin-bottom: 4em;
}

aside:hover {
  color: #ffdde1;
}

#video {
  opacity: 100%;
}

/* login style */
.input-group {
  margin: 2em;
  max-width: 75em;
}

input[type="text"]:focus {
  background-color: #E4ABA2;
}

#login,
#signup {
  margin: 1rem;
}

.signup-form,
.login-form,
.edit-post-form,
.comment-form {
  border-radius: 20px;
  background-color: #ffdde1;
  margin-top: 3em;
  padding: 20px;
  opacity: 75%;
}

/* post/comment style */
.post-list {
  list-style: none;
  margin: 2em;
  border-radius: 10px;
}

#new-post {
  margin: 2rem;
  background-color: #ffdde1;
  border-radius: 15px;
  padding: 20px;
}

.list-group-item {
  background-color: #ffdde1;
  margin: 1em;
  border-radius: 20px;
}

.card {
  margin: 2em;
  border-radius: 10px;
  background-color: #ffffff;
  border-color: #000000;
  opacity: 75%;
}

.card-header {
  font-size: 1.2rem;
}

.card-header a {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.card-header a:hover {
  color: #e76c89;
}

.card-body {
  color: #000000;
}

/* button style */
button {
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 1em;
}

#login-btn,
#post,
#signup-btn,
#edit-post {
  margin-left: 2em;
}

.button {
  background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
}

.button {
  text-align: center;
  transition: 0.5s;
  background-size: 00% auto;
  border-radius: 5px;
  display: block;
  border: none;
}

.button:hover {
  background-position: right center;
  color: #abbaab;
  text-decoration: none;
}
