* {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  background-color: #ffffff;
}

.dark-mode {
  background-color: black;
}

/* navbar/header style */
header {
  background-color: #ffdde1;
}

.navbar-brand {
  font-size: 3em;
}

.navbar-brand a {
  color: #e76c89;
  margin-left: 2rem;
  text-decoration: none;
  cursor: pointer;
}

.navbar-brand a:hover {
  color: #a66e8a;
}

#logo {
  width: 9%;
  height: 9%;
}

.nav-item a {
  color: #e76c89;
  font-weight: 600;
  position: relative;
  background-color: #ffffff;
  margin: 1em;
  border-radius: 10px;
  opacity: 75%;
}

.nav-item a:hover {
  color: #a66e8a;
}

/* footer styles */
footer a {
  color: #e76c89;
  margin: 1em;
  font-weight: 600;
}

footer a:hover {
  color: #a66e8a;
}

/* body styles */
aside {
  background-color: #a66e8a;
  border-radius: 10px;
  color: #000000;
  margin-top: 2em;
  margin-bottom: 4em;
}

aside:hover {
  color: #ffdde1;
}

#video {
  opacity: 100%;
}

/* login style */
.input-group {
  margin: 2em;
  width: 75em;
}

input:focus {
  background-color: #e4aba2;
}

#login,
#signup {
  margin: 1rem;
}

.signup-form,
.login-form,
.edit-post-form,
.comment-form,
.search-form {
  border-radius: 20px;
  background-color: #ffdde1;
  margin-top: 3em;
  padding: 20px;
  opacity: 75%;
}

/* post/comment style */
.post-list {
  list-style: none;
  margin: 2em;
  border-radius: 10px;
}

#new-post {
  margin: 2rem;
  background-color: #ffdde1;
  border-radius: 15px;
  padding: 20px;
}

.list-group-item {
  background-color: #ffdde1;
  margin: 1em;
  border-radius: 20px;
}

.card {
  margin: 2em;
  border-radius: 10px;
  background-color: #bebebe81;
  border-color: #000000;
  opacity: 75%;
}

.card-header {
  font-size: 1.2rem;
}

.card-header a {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.card-header a:hover {
  color: #e76c89;
}

.card-body {
  color: #000000;
}

/* button style */
button {
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 1em;
}

#login-btn,
#post,
#signup-btn,
#edit-post {
  margin-left: 2em;
}

.button {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 00% auto;
  border-radius: 5px;
  display: block;
  border: none;
}

.button:hover {
  background-position: right center;
  color: #e4aba2;
  text-decoration: none;
}

/* Pokemon card styles */
#sprite-container {
  background-image: url(https://i.imgur.com/6EhAM7G.png);
  background-size: cover;
  border-radius: 15px;
  padding: 2em;
  margin-bottom: 1em;
  cursor: pointer;
}

#card-container {
  background-color: #bebebe81;
  border-radius: 15px;
  margin-top: 5.4em;
  margin-left: 1em;
}

#card-container img {
  width: 100px;
}

#pokemon-card #grass {
  background-color: #4e8234;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #poison {
  background-color: #a040a0;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #fire {
  background-color: #e24242;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #flying {
  background-color: #c6b7f5;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}
#pokemon-card #water {
  background-color: #6890f0;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #bug {
  background-color: #a8b820;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #normal {
  background-color: #c6c6a7;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #ground {
  background-color: #927d44;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #electric {
  background-color: #f8d030;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #fairy {
  background-color: #ee99ac;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #fighting {
  background-color: #c03028;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #psychic {
  background-color: #a13959;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #dark {
  background-color: #49392f;
  color: white;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #rock {
  background-color: #b8a038;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #ice {
  background-color: #98d8d8;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #ghost {
  background-color: #705898;
  color: white;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #steel {
  background-color: #b8b8d0;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}

#pokemon-card #dragon {
  background-color: #7038f8;
  color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  width: 100px;
}
